*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  background-image: url(https://t3.ftcdn.net/jpg/02/21/71/74/240_F_221717487_0442Bs3THDo8rFNuhJm4zSsuEAez25bt.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  /* padding-top: 7rem; */
  font-family: 'Kumbh Sans', sans-serif;
}

.nav {
  font-family: "oxanium", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-left: 12%;
  padding-right: 10%;
}


.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100vw;
  background-color: #fff;
}

.logo {
  color: #000;
  font-size: 2rem;
}

.toggle-btn {
  font-size: 50px;
}
.side-bar{
  padding: 12px;
/* widthh: 10px; */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: white;
cursor: pointer;
}

.download-text{
  font-size: bold;
  font-weight: 700;
 cursor: pointer;
}
.sdide-bar:hover .menu{
  display: block;
  color: #4B7BE5;
  font-size: 1.6rem;
  font-weight: 600;
}

.but {
  font-size: 1.2rem;
  font-weight: 800;
  
}

.button {
  background-color: #92b7ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 4rem;
  border: 1px solid #4B7BE5;
  border-radius: 0.25rem;
}

.button-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;

}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5rem 0;
  
}

.justino {
  width: 30vw;
  height: 80vh;
  
  border-radius: 0.5rem;
}

.hero-left {
  width: 35vw;
  margin-top: 2rem;
}

.greeting {
  font-family: "oxanium", cursive;
  font-weight: 800;
  font-size: 30px;
  color: grey;
  
}

.hero-title {
   
  position: relative;
  font-family: "oxanium", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0px;
  line-height: 100%;
  color: transparent;
  -webkit-text-stroke: 1px #000;
   padding-top: 40px;
   padding-bottom: 40px; 
}

 .sub-hero-tittle {
  font-size: 1.3rem;
  line-height: 1.2;

} 

.tag-line {
  height: 30vh;
  font-family: monospace;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sub-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  font-family: 'oxanium', cursive;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
}

.card {
  width: 30%;
  height: 80vh;
  border-radius: 0.5rem;
}
.card:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.line {
  border-top: 1px solid grey;
  padding-top: 6rem;

}

.section-title {
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'oxanium', cursive;
  font-style: normal;
  font-weight: 800;
  font-size: 6rem;
  letter-spacing: 0px;
  line-height: 100%;
  margin-bottom: 4rem;
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.footer-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3rem;
   width: 45%; 
}

.footer {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  font-size: 2rem;

}


.outline {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 100%;
  cursor: pointer;
  background-position: center bottom;
  background-size: 100% 0%;
  -webkit-text-stroke: 1px #4B7BE5;
  -webkit-text-fill-color: transparent;
  transition: .3s ease-in;

}
/* p{
  font-size: 900px;
} */

.footer-content {
  padding-left: 10%;
}

.email-button-container {
/* background-color:#4B7BE5; */
  padding-bottom: 5%;
}

.email-button {
  background-color:#92b7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 4rem;
  border: 1px solid #4B7BE5;
  border-radius: 0.25em;
  font-size: 1.125rem;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  color: #000;

}

a {
  text-decoration: none;
}

.sec-close-bracket {
  display: block;
  font-weight: 800;
  font-size: 3rem;
  line-height: 100%;
  color: grey;
  margin-top: 6rem;
  padding-left: 9rem;
  margin-bottom: 5rem;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--light-shadow);

}

@media (max-width : 768px) {
  .nar-bar {
    max-width: 650px;
  }
.toggle-btn{
  font-size: 30px;
}
  .hero {
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    width: 100vw;
  }

  .hero-left {
    /* background-color: #4B7BE5;  */
    width: 85vw;
    height: 60vh;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .greeting {
    font-size: 30px;
  }

  .hero-title {
    font-size: 4rem;
  }

  .sub-hero-tittle {
    font-size: 19px;
    font-weight: 70px;
  }
  .section-title{
 font-size: 6rem;
 font-weight: 600;
  }

  .justino {
    width: 80vw;
    height: 70vh;
  }

  .tag-line {
    height: 0px;
  }

  .sub-section-title {
    font-size: 2rem;
  }

  /* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  } */
  .card {
    height: 80vh;
    width: 80vw;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160vh;

  }

  .sec-close-bracket {
    display: block;
    font-weight: 800;
    font-size: 3rem;
    margin-top: 6rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
  }

  .button {
    /* background-color: aqua; */
    width: 60%;
  }

  .footer-text {
    font-size: 18px;
    width: 100%;
    font-weight: 65;
  }

  .email-button {

    width: 50%;
  }

}